/* Stylesheet that applies only to index.html since it's implemented with HTML and CSS only */

@media (max-width: 750px){

    #hero-section{
        grid-template-columns: 1fr;
        row-gap: 7.68vh;
        padding: 1.46vw;
    }
}

@media (min-width: 750.02px){
    #hero-section{
        grid-template-columns: 1fr 1fr;
    }
}

#hero-section{
    display: grid;
    column-gap: 8.78vw;
    justify-content: center;
    align-items: center;
    padding: 0px 1.46vw;

}

.hero-picture{
    width: 27.81vw;
    object-fit: contain;
    border-radius: 13.17vw;
    border-top-right-radius: 0;
}

#over-header{
  color: gray;
}

#description, .hero-picture{
    font-size: 1.125rem;
}

#description{  
    margin-bottom: 6.14vh;
}

.tour-button{
    border: none;
    border-radius: 9px;
    padding: 1.53vh 1.75vw;
    color: white;
}